*{
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    width: 75;
}
.container{
    background-color: yellowgreen;
    display: inline-flex;
    vertical-align: top;
}
.navbar{
    background-color: goldenrod;
    display: flex;
    flex direction : inline;
    font-size: medium;
}
article{
    background-color: olive;
    margin-right: 250px;
}
aside{
 background-color: green;
}
footer{
    background: black;
    color: white;
}
p{
    font-size: large;
}
span{
    color: brown;
    font-size: xx-large;

}
